			<div id="header">
				<div id="logo">
					<a href="/"><img src="images/logo.png" alt="LOGO" height="100" width="200"></a>
				</div>
				<div id="navigation">
					<ul>
						<li class="{{#if selected_home}}selected{{/if}} home">
							<a href="/">Home</a>
						</li>
						<li class="{{#if selected_travel}}selected{{/if}} travel">
							<a href="/travel">Travel</a>
						</li>
						<li class="{{#if selected_rooms}}selected{{/if}} rooms">
							<a href="/rooms">Rooms</a>
						</li>
						<li class="{{#if selected_meals}}selected{{/if}} meals">
							<a href="/meals">Meals</a>
						</li>
						<li class="{{#if selected_news}}selected{{/if}} news">
							<a href="/news">News</a>
						</li>
						<li class="{{#if selected_about}}selected{{/if}} about">
							<a href="/about">About</a>
						</li>
						<li class="{{#if selected_contact}}selected{{/if}} contact">
							<a href="/contact">Contact</a>
						</li>
					</ul>
				</div>
			</div>